header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 100px;
  height: 30px;
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 30px;
  border: 1px solid #8f9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #606060;
  text-shadow: 0 1px #fff;
}

.logout:hover {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 3px 3px #cecfd1;
}

.logout:active {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.logout:focus {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

@media only screen and (max-width: 768px) {
  /* Style untuk layar kecil */
}

@media only screen and (min-width: 768px) {
  /* Style untuk layar besar */
}

body {
  background-color: lightgray;
  overflow-x: hidden;
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

header h6 {
  color: rgb(0, 0, 0);
  font-size: 50%;
  top: -50;
}

.navbar {
  position: static;
}
.searach {
  transition: none;
  transform: translateX(800px);
}
.garis {
  width: 100px;
  height: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.garis-vertical {
  border-left: 1px solid rgb(0, 0, 0);
  height: 500px;
}

hr {
  box-shadow: -3px -3px 2px rgba(0, 0, 0, 0.4);
  padding: 2px;
  border: 1px dashed rgb(255, 0, 0);
}
.nav-item {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.utama {
  position: relative;
  left: 20px;
}

.main-1 {
  width: 1320px;
  height: 400px;
  margin-right: 0px;
  float: left;
  position: relative;
}

.left {
  position: static;
  width: 523px;
  height: 350px;
}

.form_login {
  left: 25%;
  margin: -15px 10px;
  justify-content: center;
  top: 25%;
  padding: 30px;
}

.left h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 36;
  color: #9d631e;
}

.left h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 64;
}

.left p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24;
}

.right {
  position: absolute;
  top: -5%;
  left: 840px;
}

/* content 2 */

.box {
  background: linear-gradient(
    90deg,
    #323232 35.11%,
    rgba(50, 50, 50, 0.7099999785) 81.17%,
    rgba(50, 50, 50, 0) 131.06%
  );
  height: 28.7rem;
  left: 0;
  position: static;

  width: 81.45rem;
}

.box img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 27.0667rem;
  left: 0;
  position: absolute;
  top: 1.2rem;
  width: 38.7rem;
}
#clearfix {
  overflow: auto;
}

.auto-group-tc3f-qRH {
  position: absolute;
  align-items: flex-end;
  background: linear-gradient(
    180deg,
    #858585 -0%,
    #858585 37%,
    #afaeae 99.99%,
    #fffafa 100%
  );
  border-radius: 1.5rem;
  box-shadow: inset 0 0 2.75rem rgba(0, 0, 0, 0.25),
    0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0rem 0rem 2.8rem 0.021rem;
  padding: 4.15rem 1.8rem 4rem 1.7rem;
  width: 25.7rem;
  left: 50rem;
  top: 4.6rem;
  height: 20rem;
}

.auto-group-tc3f-qRH h2 {
  position: relative;
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-shrink: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  justify-content: center;
  line-height: 1;
  margin: 0rem 0.4rem 2.4rem 0rem;
  white-space: nowrap;
  font-size: 40px;
  height: 9px;
  left: -25px;
}

.auto-group-tc3f-qRH h1 {
  position: relative;
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-shrink: 0;
  font-family: "Roboto", sans-serif;
  font-size: 100px;
  font-weight: 900;
  justify-content: center;
  line-height: 1;
  margin: 0rem 0rem 1.55rem 0.795rem;
  white-space: nowrap;
  left: -50px;
}

.auto-group-tc3f-qRH h4 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 1.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  color: #323232;
  display: flex;
  flex-shrink: 0;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 800;
  height: 3.3rem;
  justify-content: center;
  line-height: 1;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 100%;
  top: 0px;
}

.log {
  align-items: center;
  justify-content: center;
  position: relative;
  top: 30px;
  overflow: visible;
  left: -10px;
  border-radius: 5.5rem;
  white-space: nowrap;
  margin: 0rem 0rem 4.55rem 3.795rem;
}

.log btn {
  border-radius: 5.5rem;
}

.content {
  position: relative;
}

/*kontainer*/

.kontainer {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
}

/*responsive*/
@media (min-width: 30em) {
  .kontainer {
    grid-template-columns: 4 1fr;
  }
}

@media (min-width: 60em) {
  .kontainer {
    grid-template-columns: 2 1fr;
  }
}

.card {
  background: rgb(255, 255, 255);
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}

.card:hover {
  top: -2;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center;
}

.card artikel {
  padding: 20px;
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: black;
  position: relative;
}

.card h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.card .button1 {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 15%;
  font-size: 12;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.card .button1:hover {
  background-color: #ffffff;
  color: #000000;
}

/* Footer */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#footer {
  background: #007b5e !important;
}
#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #ffffff;
}
#footer a {
  color: #ffffff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
#footer ul.social li {
  padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}
#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff;
}
#footer ul.social li a:hover {
  color: #eeeeee;
}
#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}
#footer ul.quick-links li a i {
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}

/* end home page */

/*login style */
